modules = ["python-3.11"]

run = "python3 main.py"

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[nix]
packages = ["libxcrypt"]

[deployment]
deploymentTarget = "vm"
run = ["python3", "main.py"]
